<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p> <%= homeStartingContent %> </p> 

    <!-- add every post into the homepage -->
    <% posts.forEach ( post => { %>
        <h1> <%= post.title %> </h1> 
        <p> <%= post.content %> </p>  
    <% }); %>
 
<%- include('partials/footer'); -%>